TradeRecapExpected_hsbc_tom_4566_B1.csv
TradeRecapExpected_ssb_tom_4694_B1.csv
TradeRecapExpected_ssb_tom_4694_B2.csv
TradeRecapExpected_01_ssb_b1.csv
TradeRecapExpected_01_ssb_b2.csv
TradeRecapExpected_02_ssb_b1.csv
TradeRecapExpected_02_ssb_b2.csv
TradeRecapExpected_ssb_ES_tom_4815_B1.csv
TradeRecapExpected_ssb_MnG_tom_4815_B1.csv
TradeRecapExpected_hsbc_FX_ES_tom_4815_B1.csv
TradeRecapExpected_hsbc_FX_MnG_tom_4815_B1.csv
TradeRecapExpected_hsbc_tom_4468_FX_FWD_B1_01.csv
TradeRecapExpected_hsbc_tom_4468_FX_FWD_B1_02.csv
TradeRecapExpected_hsbc_tom_4468_FX_FWD_B2_01.csv
TradeRecapExpected_hsbc_tom_4468_FX_FWD_B2_02.csv
TradeRecapExpected_01_hsbc_b1.csv
TradeRecapExpected_02_hsbc_b1.csv
TradeRecapExpected_hsbc_tom_4566_B2.csv
TradeRecapExpected_hsbc_tom_4722_B1.csv
TradeRecapExpected_hsbc_MnG_tom_4815_B1.csv
TradeRecapExpected_hsbc_ES_tom_4815_B1.csv
TradeRecapExpected_01_hsbc_b2.csv
TradeRecapExpected_02_hsbc_b2.csv
TradeRecapExpected_hsbc_TD_01.csv
TradeRecapExpected_hsbc_TD_02.csv
TradeRecapExpected_hsbc_TD_Adhoc.csv
TradeRecapExpected_ssb_adhoc.csv
*exceptions*
*recon.csv